.products{
    padding: 30px 50px;
    display: flex;
  
  .left{
    flex: 1;
    position: sticky;
    height: 100%;
    top: 25px;

    .filterItem{
      margin-bottom: 5px;

      .h2{
        font-weight: 400;
        margin-bottom: 5px;
      }

      .inputItem{
        margin-bottom: 2px;
        
        label{
          margin-left: 7px;
        }
      }
    }
  }

  .right{
    flex: 3;

    .catImg{
      width: 100%;
      height: 15%;
      object-fit: cover;
      margin-bottom: 25px;
    }
  }
}